# System Environment Files
.env
.env.example

# Local Database & Excel Files
*.db
*.sqlite
database/database.db
database/inventory.db
database/SQL_Server_Export_Final.xlsx
database/~$SQL_Server_Export_Final.xlsx

# Logs, Cache & Uploads
logs/
uploads/
*.log
__pycache__/
*.pyc

# Temporary & Local Developer Folders
.vscode/
temp/
scratch/
backups/
*.pdf
system_locks/
